{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://dolarapi.com",
      "description": "Producción"
    }
  ],
  "paths": {
    "/v1/exchanges": {
      "get": {
        "summary": "Listado de exchanges",
        "operationId": "get-exchanges",
        "description": "Listado de exchanges.",
        "tags": [
          "Exchanges"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[DolarApp](https://dolarapp.com/)",
          "[Satoshi Tango](https://www.satoshitango.com/)",
          "[Prex](https://www.prexcard.com/)",
          "[Lemon Cash](https://www.lemon.me/)",
          "[Plus](https://www.plus.com.ar/)",
          "[AstroPay](https://www.astropay.com/)"
        ],
        "responses": {
          "200": {
            "description": "Listado de exchanges",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string",
                        "enum": [
                          "belo",
                          "fiwind",
                          "dolarapp",
                          "satoshitango",
                          "prex",
                          "lemon",
                          "plus",
                          "astropay"
                        ]
                      },
                      "nombre": {
                        "type": "string"
                      },
                      "logo": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/bolt": {
      "get": {
        "summary": "ARGT/BOLT",
        "operationId": "get-exchange-moneda-argt-bolt",
        "description": "Cotizaciones de ARGT a BOLT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/brat": {
      "get": {
        "summary": "ARGT/BRAT",
        "operationId": "get-exchange-moneda-argt-brat",
        "description": "Cotizaciones de ARGT a BRAT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/brla": {
      "get": {
        "summary": "ARGT/BRLA",
        "operationId": "get-exchange-moneda-argt-brla",
        "description": "Cotizaciones de ARGT a BRLA.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRLA"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/btc": {
      "get": {
        "summary": "ARGT/BTC",
        "operationId": "get-exchange-moneda-argt-btc",
        "description": "Cotizaciones de ARGT a BTC.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BTC"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/chlt": {
      "get": {
        "summary": "ARGT/CHLT",
        "operationId": "get-exchange-moneda-argt-chlt",
        "description": "Cotizaciones de ARGT a CHLT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CHLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/colt": {
      "get": {
        "summary": "ARGT/COLT",
        "operationId": "get-exchange-moneda-argt-colt",
        "description": "Cotizaciones de ARGT a COLT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "COLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/eth": {
      "get": {
        "summary": "ARGT/ETH",
        "operationId": "get-exchange-moneda-argt-eth",
        "description": "Cotizaciones de ARGT a ETH.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ETH"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/mext": {
      "get": {
        "summary": "ARGT/MEXT",
        "operationId": "get-exchange-moneda-argt-mext",
        "description": "Cotizaciones de ARGT a MEXT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "MEXT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/pert": {
      "get": {
        "summary": "ARGT/PERT",
        "operationId": "get-exchange-moneda-argt-pert",
        "description": "Cotizaciones de ARGT a PERT.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PERT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/sol": {
      "get": {
        "summary": "ARGT/SOL",
        "operationId": "get-exchange-moneda-argt-sol",
        "description": "Cotizaciones de ARGT a SOL.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "SOL"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/argt/usd": {
      "get": {
        "summary": "ARGT/USD",
        "operationId": "get-exchange-moneda-argt-usd",
        "description": "Cotizaciones de ARGT a USD.",
        "tags": [
          "ARGT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/bolt": {
      "get": {
        "summary": "ARS/BOLT",
        "operationId": "get-exchange-moneda-ars-bolt",
        "description": "Cotizaciones de ARS a BOLT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/brat": {
      "get": {
        "summary": "ARS/BRAT",
        "operationId": "get-exchange-moneda-ars-brat",
        "description": "Cotizaciones de ARS a BRAT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/brl": {
      "get": {
        "summary": "ARS/BRL",
        "operationId": "get-exchange-moneda-ars-brl",
        "description": "Cotizaciones de ARS a BRL.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[DolarApp](https://dolarapp.com/)",
          "[Satoshi Tango](https://www.satoshitango.com/)",
          "[Prex](https://www.prexcard.com/)",
          "[Lemon Cash](https://www.lemon.me/)",
          "[Plus](https://www.plus.com.ar/)",
          "[AstroPay](https://www.astropay.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo",
                          "fiwind",
                          "dolarapp",
                          "satoshitango",
                          "prex",
                          "lemon",
                          "plus",
                          "astropay"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRL"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/brla": {
      "get": {
        "summary": "ARS/BRLA",
        "operationId": "get-exchange-moneda-ars-brla",
        "description": "Cotizaciones de ARS a BRLA.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRLA"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/btc": {
      "get": {
        "summary": "ARS/BTC",
        "operationId": "get-exchange-moneda-ars-btc",
        "description": "Cotizaciones de ARS a BTC.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BTC"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/chlt": {
      "get": {
        "summary": "ARS/CHLT",
        "operationId": "get-exchange-moneda-ars-chlt",
        "description": "Cotizaciones de ARS a CHLT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CHLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/clp": {
      "get": {
        "summary": "ARS/CLP",
        "operationId": "get-exchange-moneda-ars-clp",
        "description": "Cotizaciones de ARS a CLP.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Satoshi Tango](https://www.satoshitango.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "satoshitango"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CLP"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/colt": {
      "get": {
        "summary": "ARS/COLT",
        "operationId": "get-exchange-moneda-ars-colt",
        "description": "Cotizaciones de ARS a COLT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "COLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/dai": {
      "get": {
        "summary": "ARS/DAI",
        "operationId": "get-exchange-moneda-ars-dai",
        "description": "Cotizaciones de ARS a DAI.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "DAI"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/eth": {
      "get": {
        "summary": "ARS/ETH",
        "operationId": "get-exchange-moneda-ars-eth",
        "description": "Cotizaciones de ARS a ETH.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ETH"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/mext": {
      "get": {
        "summary": "ARS/MEXT",
        "operationId": "get-exchange-moneda-ars-mext",
        "description": "Cotizaciones de ARS a MEXT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "MEXT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/pen": {
      "get": {
        "summary": "ARS/PEN",
        "operationId": "get-exchange-moneda-ars-pen",
        "description": "Cotizaciones de ARS a PEN.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Satoshi Tango](https://www.satoshitango.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "satoshitango"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PEN"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/pert": {
      "get": {
        "summary": "ARS/PERT",
        "operationId": "get-exchange-moneda-ars-pert",
        "description": "Cotizaciones de ARS a PERT.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PERT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/sol": {
      "get": {
        "summary": "ARS/SOL",
        "operationId": "get-exchange-moneda-ars-sol",
        "description": "Cotizaciones de ARS a SOL.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "SOL"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/ars/usd": {
      "get": {
        "summary": "ARS/USD",
        "operationId": "get-exchange-moneda-ars-usd",
        "description": "Cotizaciones de ARS a USD.",
        "tags": [
          "ARS"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[DolarApp](https://dolarapp.com/)",
          "[Satoshi Tango](https://www.satoshitango.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo",
                          "dolarapp",
                          "satoshitango"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/argt": {
      "get": {
        "summary": "BOLT/ARGT",
        "operationId": "get-exchange-moneda-bolt-argt",
        "description": "Cotizaciones de BOLT a ARGT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/ars": {
      "get": {
        "summary": "BOLT/ARS",
        "operationId": "get-exchange-moneda-bolt-ars",
        "description": "Cotizaciones de BOLT a ARS.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/bolt": {
      "get": {
        "summary": "BOLT/BOLT",
        "operationId": "get-exchange-moneda-bolt-bolt",
        "description": "Cotizaciones de BOLT a BOLT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/brat": {
      "get": {
        "summary": "BOLT/BRAT",
        "operationId": "get-exchange-moneda-bolt-brat",
        "description": "Cotizaciones de BOLT a BRAT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/btc": {
      "get": {
        "summary": "BOLT/BTC",
        "operationId": "get-exchange-moneda-bolt-btc",
        "description": "Cotizaciones de BOLT a BTC.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BTC"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/chlt": {
      "get": {
        "summary": "BOLT/CHLT",
        "operationId": "get-exchange-moneda-bolt-chlt",
        "description": "Cotizaciones de BOLT a CHLT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CHLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/colt": {
      "get": {
        "summary": "BOLT/COLT",
        "operationId": "get-exchange-moneda-bolt-colt",
        "description": "Cotizaciones de BOLT a COLT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "COLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/eth": {
      "get": {
        "summary": "BOLT/ETH",
        "operationId": "get-exchange-moneda-bolt-eth",
        "description": "Cotizaciones de BOLT a ETH.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ETH"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/mext": {
      "get": {
        "summary": "BOLT/MEXT",
        "operationId": "get-exchange-moneda-bolt-mext",
        "description": "Cotizaciones de BOLT a MEXT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "MEXT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/pert": {
      "get": {
        "summary": "BOLT/PERT",
        "operationId": "get-exchange-moneda-bolt-pert",
        "description": "Cotizaciones de BOLT a PERT.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PERT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/sol": {
      "get": {
        "summary": "BOLT/SOL",
        "operationId": "get-exchange-moneda-bolt-sol",
        "description": "Cotizaciones de BOLT a SOL.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "SOL"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/bolt/usd": {
      "get": {
        "summary": "BOLT/USD",
        "operationId": "get-exchange-moneda-bolt-usd",
        "description": "Cotizaciones de BOLT a USD.",
        "tags": [
          "BOLT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/argt": {
      "get": {
        "summary": "BRAT/ARGT",
        "operationId": "get-exchange-moneda-brat-argt",
        "description": "Cotizaciones de BRAT a ARGT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ARGT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/ars": {
      "get": {
        "summary": "BRAT/ARS",
        "operationId": "get-exchange-moneda-brat-ars",
        "description": "Cotizaciones de BRAT a ARS.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/bolt": {
      "get": {
        "summary": "BRAT/BOLT",
        "operationId": "get-exchange-moneda-brat-bolt",
        "description": "Cotizaciones de BRAT a BOLT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BOLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/brat": {
      "get": {
        "summary": "BRAT/BRAT",
        "operationId": "get-exchange-moneda-brat-brat",
        "description": "Cotizaciones de BRAT a BRAT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/btc": {
      "get": {
        "summary": "BRAT/BTC",
        "operationId": "get-exchange-moneda-brat-btc",
        "description": "Cotizaciones de BRAT a BTC.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "BTC"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/chlt": {
      "get": {
        "summary": "BRAT/CHLT",
        "operationId": "get-exchange-moneda-brat-chlt",
        "description": "Cotizaciones de BRAT a CHLT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CHLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/colt": {
      "get": {
        "summary": "BRAT/COLT",
        "operationId": "get-exchange-moneda-brat-colt",
        "description": "Cotizaciones de BRAT a COLT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "COLT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/eth": {
      "get": {
        "summary": "BRAT/ETH",
        "operationId": "get-exchange-moneda-brat-eth",
        "description": "Cotizaciones de BRAT a ETH.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ETH"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/mext": {
      "get": {
        "summary": "BRAT/MEXT",
        "operationId": "get-exchange-moneda-brat-mext",
        "description": "Cotizaciones de BRAT a MEXT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "MEXT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/pert": {
      "get": {
        "summary": "BRAT/PERT",
        "operationId": "get-exchange-moneda-brat-pert",
        "description": "Cotizaciones de BRAT a PERT.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PERT"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/sol": {
      "get": {
        "summary": "BRAT/SOL",
        "operationId": "get-exchange-moneda-brat-sol",
        "description": "Cotizaciones de BRAT a SOL.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "SOL"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brat/usd": {
      "get": {
        "summary": "BRAT/USD",
        "operationId": "get-exchange-moneda-brat-usd",
        "description": "Cotizaciones de BRAT a USD.",
        "tags": [
          "BRAT"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRAT"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brl/ars": {
      "get": {
        "summary": "BRL/ARS",
        "operationId": "get-exchange-moneda-brl-ars",
        "description": "Cotizaciones de BRL a ARS.",
        "tags": [
          "BRL"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[DolarApp](https://dolarapp.com/)",
          "[Satoshi Tango](https://www.satoshitango.com/)",
          "[Prex](https://www.prexcard.com/)",
          "[Lemon Cash](https://www.lemon.me/)",
          "[Plus](https://www.plus.com.ar/)",
          "[AstroPay](https://www.astropay.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo",
                          "fiwind",
                          "dolarapp",
                          "satoshitango",
                          "prex",
                          "lemon",
                          "plus",
                          "astropay"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "ARS"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRL"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brl/clp": {
      "get": {
        "summary": "BRL/CLP",
        "operationId": "get-exchange-moneda-brl-clp",
        "description": "Cotizaciones de BRL a CLP.",
        "tags": [
          "BRL"
        ],
        "x-data-source": [
          "[Satoshi Tango](https://www.satoshitango.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "satoshitango"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "CLP"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRL"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brl/pen": {
      "get": {
        "summary": "BRL/PEN",
        "operationId": "get-exchange-moneda-brl-pen",
        "description": "Cotizaciones de BRL a PEN.",
        "tags": [
          "BRL"
        ],
        "x-data-source": [
          "[Satoshi Tango](https://www.satoshitango.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "satoshitango"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "PEN"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRL"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brl/usd": {
      "get": {
        "summary": "BRL/USD",
        "operationId": "get-exchange-moneda-brl-usd",
        "description": "Cotizaciones de BRL a USD.",
        "tags": [
          "BRL"
        ],
        "x-data-source": [
          "[Belo](https://www.belo.app/)",
          "[Fiwind](https://www.fiwind.io/)",
          "[Satoshi Tango](https://www.satoshitango.com/)",
          "[Prex](https://www.prexcard.com/)",
          "[Plus](https://www.plus.com.ar/)",
          "[AstroPay](https://www.astropay.com/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "belo",
                          "fiwind",
                          "satoshitango",
                          "prex",
                          "plus",
                          "astropay"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
                        "type": "number"
                      },
                      "moneda": {
                        "type": "string",
                        "enum": [
                          "USD"
                        ]
                      },
                      "monedaBase": {
                        "type": "string",
                        "enum": [
                          "BRL"
                        ]
                      },
                      "criptomoneda": {
                        "type": "string"
                      },
                      "fechaActualizacion": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/exchanges/monedas/brl/usdt": {
      "get": {
        "summary": "BRL/USDT",
        "operationId": "get-exchange-moneda-brl-usdt",
        "description": "Cotizaciones de BRL a USDT.",
        "tags": [
          "BRL"
        ],
        "x-data-source": [
          "[Lemon Cash](https://www.lemon.me/)"
        ],
        "responses": {
          "200": {
            "description": "Cotizaciones",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "exchange": {
                        "type": "string",
                        "enum": [
                          "lemon"
                        ]
                      },
                      "compra": {
                        "type": "number"
                      },
                      "venta": {
[...]
